.login-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min(900, 100%);
  height: 100vh;
}

.login-text-cont {
  width: 400px;
  /* padding-right: 2rem; */
  margin-top: -120px;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* margin-left: 40px; */
  margin-left: auto;
  margin-right: 80px;
  /* border: 1px solid black; */
}

#fb-signin-logo {
  color: var(--blue);
  font-size: 56px;
  font-weight: bold;
  width: 301px;
  font-family: var(--fb-font);
}

#fb-signin-text {
  font-size: 26px;
  line-height: 1.2;
}

.login-content {
  margin-top: -60px;
  /* margin-right: 40px; */
  margin-right: auto;
  height: 315px;
  width: 380px;
  padding: 1rem;
  border-radius: 6px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 900px) {
  .login-cont {
    flex-direction: column;
    justify-content: flex-start;
  }

  .login-text-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    /* padding-right: 0px; */
  }

  #fb-signin-text {
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    color: black;
  }

  .login-content {
    height: 315px;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: auto;
    /* margin-bottom: 300px; */
  }
}

#title-login {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 97px;
  margin-right: auto;
  margin-top: 30px;
  font-size: 1.6em;
}

.input {
  font-size: 1em;
  --text-opacity: 1;
  box-sizing: border-box;
  border-style: solid;
  border-color: #e2e8f0;
  font-family: inherit;
  margin: 0;
  margin-top: 20px;
  overflow: visible;
  line-height: inherit;
  color: inherit;
  --bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.error-message-login {
  color: var(--red);
  margin-top: 5px;
  margin-bottom: -10px;
}

#submit-login {
  display: flex;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  width: 208px;
  border-style: solid;
  border-color: #e2e8f0;
  font-family: inherit;
  margin: 0;
  margin-top: 20px;
  overflow: visible;
  text-transform: none;
  background-image: none;
  cursor: pointer;
  line-height: inherit;
  --bg-opacity: 1;
  background-color: var(--blue);
  border-radius: 0.25rem;
  border-width: 0;
  font-size: 1.125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  --text-opacity: 1;
  color: rgba(255, 255, 255, var(--text-opacity));
}

#submit-login:hover {
  box-sizing: border-box;
  border-style: solid;
  border-color: #e2e8f0;
  font-family: inherit;
  margin: 0;
  margin-top: 20px;
  overflow: visible;
  text-transform: none;
  background-image: none;
  cursor: pointer;
  line-height: inherit;
  border-radius: 0.25rem;
  border-width: 0;
  font-size: 1.125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  --text-opacity: 1;
  color: rgba(255, 255, 255, var(--text-opacity));
  --bg-opacity: 1;
  background-color: var(--blue);
}
