@font-face{
  font-family: 'SFProDisplay-Bold';
  src: url('../../../assets/FontsFree-Net-SFProDisplay-Bold.ttf');
}

@font-face{
  font-family: 'SFProDisplay-Regular';
  src: url('../../../assets/FontsFree-Net-SFProDisplay-Regular.ttf');
}

.login-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min(900, 100%);
  height: 100vh;
}

.login-text-cont {
  width: 400px;
  /* padding-right: 2rem; */
  margin-top: -120px;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* margin-left: 40px; */
  margin-left: auto;
  margin-right: 80px;
  /* border: 1px solid black; */
}

#fb-signin-logo {
  color: var(--blue);
  font-size: 56px;
  font-weight: bold;
  width: 301px;
  font-family: var(--fb-font);
}

#fb-signin-text {
  font-size: 26px;
  line-height: 1.2;
}

.login-content {
  margin-top: -60px;
  /* margin-right: 40px; */
  margin-right: auto;
  height: 315px;
  height: 325px;
  width: 380px;
  padding: 1rem;
  border-radius: 6px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 900px) {
  .login-cont {
    flex-direction: column;
    justify-content: flex-start;
  }

  .login-text-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    /* padding-right: 0px; */
  }

  #fb-signin-logo {
    text-align: center;
  }

  #fb-signin-text {
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    color: black;
  }

  .login-content {
    /* height: 315px; */
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: auto;
    /* margin-bottom: 300px; */
  }
}

.input-login {
  font-size: 1em;
  --text-opacity: 1;
  box-sizing: border-box;
  border-style: solid;
  border-color: #e2e8f0;
  font-family: inherit;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
  height: 52px;

  overflow: visible;
  line-height: inherit;
  color: inherit;
  --bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  /* font-size: 1rem; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  line-height: 16px;
  /* height: 22px; */
  border: 1px solid #dddfe2;
  color: #1d2129;

  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
  font: 400 13.3333px Arial;
  font-size: 17px;
}

.login-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  border-style: solid;
  border-color: #e2e8f0;
  font-family: inherit;
  margin: 0;
  margin-top: 10px;
  overflow: visible;
  text-transform: none;
  background-image: none;
  /* cursor: pointer; */
  /* line-height: inherit; */
  --bg-opacity: 1;

  border-radius: 0.25rem;
  border-width: 0;
  font-size: 1.125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  --text-opacity: 1;
  color: rgba(255, 255, 255, var(--text-opacity));

  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  line-height: 40px;
  padding: 0 16px;
  /* height: 40px; */
  /* width: 332px; */

  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;

  font-weight: bold;
}

#submit-login {
  background-color: var(--blue);
}

#submit-login:hover {
  background-color: #1070ef;
}

#submit-fb-login {
  background-color: var(--dark-blue);
}

#submit-fb-login:hover {
  background-color: #3760b1;
}

#submit-new-account-login {
  background-color: var(--green);
}

#submit-new-account-login:hover {
  background-color: #38b51f;
}

#submit-guest-login {
  background-color: #ffa500;
}

#submit-guest-login:hover {
  background-color: #f7a100;
}

.error-message-login {
  color: var(--red);
  margin-top: -8px;
  margin-bottom: -7px;
}

/* Signup Modal */
.signup-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 0, 0); */
  /* background-color: rgba(0, 0, 0, 0.4); */
  background-color: rgba(255, 255, 255, 0.8);
}

.signup-modal-content {
  position: relative;
  top: 53%;
  transform: translateY(-52%);
  display: flex;
  flex-direction: column;
  /* background-color: #fefefe; */
  margin-left: auto;
  margin-right: auto;
  /* vertical-align: middle; */
  /* margin-top: 25vh;
  margin-bottom: auto; */
  /* align-self: center;
  justify-self: center; */
  /* margin-top: 30vh;
  padding: 30px;
  padding-top: 0px; */
  /* border: 1px solid #888; */
  height: 465px;
  width: 432px;
  /* justify-content: center; */
  /* align-items: center; */
  color: black;

  padding: 1rem;
  border-radius: 6px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

#signup-header{
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  /* width: 200px; */
}

#signup-header-top{
  display: flex;
  border: 1px solid black;
  
}

#signup-header-title{
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
}

#signup-header-subtitle{

      color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;



}

.close {
  color: #aaa;
  float: right;
  /* margin-left: 100%; */
  margin-left: auto;
  margin-right: 0px;
  margin-top: -20px;
  font-size: 32px;
  height: 10px;
  font-weight: bold;
  border: 1px solid red;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-signup{
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 16px;
}

#action-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 1.6em;
  font-weight: bold;
}

#action-sub-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: bold;
  color: red;
}

#submit-btn-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 400px;
}

.confirmation-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  margin-top: 10px;
  height: 25px;
  width: 120px;
  font-size: 1.1em;
  font-weight: bold;
  border: 3px solid #00b0f0;
}

.confirmation-btn:hover {
  cursor: pointer;
}

#submit-decline {
  border: 3px solid #00b0f0;
}

#submit-decline:hover {
  background-color: #00b0f0;
}

#submit-confirmation {
  border: 3px solid red;
}

#submit-confirmation:hover {
  background-color: red;
}
