#header {
  height: 56px;
  min-width: 600px;
  width: 100%;
  position: fixed;
  /* position: sticky; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: black;
  background-color: white;
  /* min-width: 800px; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  /* min-width: 800px; */
  width: 100%;
  z-index: 2;
}

#header-left-menu {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: auto;
  height: 100%;
  /* border: 1px solid black; */
}

#header-right-menu {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: 0px;
}

.link-header {
  text-decoration: none;
  color: white;
}

#fb-icon-cont {
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

.fb-icon {
  height: 40px;
  width: auto;
  /* width: 40px; */
  /* border: 1px solid black; */
}

#search-cont{
  /* border: 1px solid black; */
  

  position: absolute;
  top: 7px;
  left: 67px;
  display: flex;
  flex-direction: column;
}

#search-bar{
  border: none;
  /* border-radius: 25%; */
  border-radius: 20px;
  background-color: var(--light-gray);
  width: 240px;
  height: 40px;
  /* margin-left: 12px; */

  display: flex;
}

#mag-icon{
  height: 20px;
  width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

#search-bar-input {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  height: 36px;
  /* border:1px solid black;a */
  width: 180px;

font-family: "Segoe UI", Helvetica, Arial, sans-serif;
font-size: 15px;
font-stretch: 100%;
font-style: normal;
font-weight: 400;
letter-spacing: normal;
line-height: normal;
text-align: left;
/* text-indent: 20px; */
text-shadow: none;
text-transform: none;
word-spacing: 0px;

color: rgb(5, 5, 5);

}

#search-bar-input:focus {
  outline: none;
}

#search-modal-cont{
  height: 476px;
width: 200px;
margin-left: auto;
margin-right: auto;
padding: 0 8px 8px 8px;
box-sizing: border-box;
/* box-shadow-top: none; */
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;

   color: black;
  background-color: white;
  /* min-width: 800px; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0, 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);  */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 12px 0px, rgba(255, 255, 255, 0.5) 0px 0px 0px 0px inset;
  z-index: 2;
}

#add-post-header {
  margin-right: 10px;
  background-color: var(--light-gray);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  /* padding-top: -px; */
  line-height: 35px;
  /* font-weight: 700; */
  /* vertical-align: 5px; */
  /* font-style: italic; */
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}

#add-post-header:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

#friends-cont {
  /* border: 1px solid black; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  margin-right: 10px;
}

#friends-cont:hover {
  background-color: var(--dark-gray);
}

.friends-icon {
  height: 30px;
  margin-bottom: 2px;
  width: auto;
}

#bell-cont {
  /* border: 1px solid black; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  margin-right: 10px;
}

#bell-cont:hover {
  background-color: var(--dark-gray);
}

.bell-icon {
  height: 26px;
  margin-bottom: 2px;
  width: auto;
}

#prof-header {
  margin-right: 10px;
}

/* Also uses .prof-icon in index */

#logout-cont {
  /* border: 1px solid black; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  margin-right: 10px;
}

#logout-cont:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.logout-icon {
  height: 26px;
  /* margin-bottom: 2px; */
  margin-left: 4px;
  width: auto;
}

/* #logout-cont{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-icon {
  height: 45px;
  width: auto;
} */

.header-btn-cont {
  margin-left: auto;
}

#btn-cont-auth {
  display: flex;
}

#btn-cont-unauth {
  display: flex;
}

/* .header-btn {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: 500;
} */

.header-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
