#header {
  height: 56px;
  min-width: 600px;
  width: 100%;
  position: fixed;
  /* position: sticky; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: black;
  background-color: white;
  /* min-width: 800px; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  /* min-width: 800px; */
  width: 100%;
  z-index: 2;
}

#header-left-menu {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: auto;
  height: 100%;
  /* border: 1px solid black; */
}

#header-right-menu {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: 0px;
}

.link-header {
  text-decoration: none;
  color: white;
}

#fb-icon-cont {
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

.fb-icon {
  height: 40px;
  width: auto;
  /* width: 40px; */
  /* border: 1px solid black; */
}

#search-cont {
  /* border: 1px solid black; */

  position: absolute;
  top: 7px;
  left: 67px;
  display: flex;
  flex-direction: column;
}

#search-bar {
  border: none;
  /* border-radius: 25%; */
  border-radius: 20px;
  background-color: var(--light-gray);
  width: 240px;
  height: 40px;
  /* margin-left: 12px; */

  display: flex;
}

#mag-icon {
  height: 20px;
  width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

#search-bar-input {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  height: 36px;
  /* border:1px solid black;a */
  width: 180px;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* text-indent: 20px; */
  text-shadow: none;
  text-transform: none;
  word-spacing: 0px;

  color: rgb(5, 5, 5);
}

#search-bar-input:focus {
  outline: none;
}

#search-modal-cont {
  /* height: 476px; */
  width: 205px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0 8px 8px 8px; */
  padding: 8px;
  box-sizing: border-box;
  /* box-shadow-top: none; */
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  border-radius: 8px;

  color: black;
  background-color: white;
  /* min-width: 800px; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0, 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);  */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 12px 0px,
    rgba(255, 255, 255, 0.5) 0px 0px 0px 0px inset;
  z-index: 2;
}

.search-card {
  /* border: 1px solid black; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 52px;
  border-radius: 8px;
}

.search-card:hover {
  cursor: pointer;
  background-color: var(--dark-gray);
}

.no-search-results {
  margin-left: 12px;
}

.prof-pic-search-card {
  /* border-radius: 8px; */
  border-radius: 50%;
  height: 36px;
  width: 36px;
  box-shadow: rgba(0, 0, 0, 0.1);
  margin-left: 6px;
}

.search-card-name {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  text-align: left;
  word-break: break-word;
  color: rgb(5, 5, 5);
  margin-left: 12px;
}

#add-post-header {
  /* margin-right: 10px; */
  background-color: var(--light-gray);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  /* padding-top: -px; */
  line-height: 35px;
  /* font-weight: 700; */
  /* vertical-align: 5px; */
  /* font-style: italic; */
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;

  position: absolute;
  top: 8px;
  right: 210px;
}

#add-post-header:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

#friends-cont {
  /* border: 1px solid black; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  /* margin-right: 10px; */

  position: absolute;
  top: 8px;
  right: 160px;
}

#friends-cont:hover {
  background-color: var(--dark-gray);
}

.friends-icon {
  height: 30px;
  margin-bottom: 2px;
  width: auto;
}

#bell-cont {
  /* border: 1px solid black; */
  height: 40px;
  width: 40px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-color: var(--light-gray);
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 110px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */

  /* margin-right: 10px; */
}

#bell-cont:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.bell-icon {
  height: 26px;
  /* margin-bottom: 2px; */
  /* margin-top: -2px; */
  width: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: auto;
}

#notification-modal-cont {
  max-height: calc(100vh - 72px);
  width: 360px;
  margin-left: auto;
  margin-right: 150px;
  /* padding: 0 8px 8px 8px; */
  position: absolute;
  top: 47px;
  right: -255px;
  /* left: 40px; */
  padding: 8px;
  box-sizing: border-box;
  /* box-shadow-top: none; */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  color: black;
  background-color: white;
  /* min-width: 800px; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0, 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);  */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 12px 0px,
    rgba(255, 255, 255, 0.5) 0px 0px 0px 0px inset;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
}

#notification-modal-cont:hover {
  cursor: default;
}

#notification-modal-header-cont {
  margin: 12px 12px 12px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 328px;
  height: 24px;
  /* border: 1px solid black; */
}

#notification-modal-header {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.0008px;
  margin-top: 7px;
  margin-bottom: 7px;
  color: rgb(5, 5, 5);
}

#notification-eye-icon {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

#notification-eye-icon:hover {
  cursor: pointer;
}

.notification-card {
  /* border: 1px solid black; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 52px;
  border-radius: 8px;
}

.notification-card:hover {
  cursor: pointer;
  background-color: var(--dark-gray);
}

.no-notification-results {
  margin-left: 12px;
}

.prof-pic-notification-card {
  /* border-radius: 8px; */
  border-radius: 50%;
  height: 36px;
  width: 36px;
  box-shadow: rgba(0, 0, 0, 0.1);
  margin-left: 6px;
}

.notification-text {
  display: flex;
  align-items: center;
}

.notification-card-name {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  text-align: left;
  word-break: break-word;
  color: rgb(5, 5, 5);
  margin-left: 12px;
}

.notification-action {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.9995px;
  text-align: left;
  word-break: break-word;
  color: rgb(101, 103, 107);

  margin-left: 12px;
}

.strong-blk {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  text-align: left;
  word-break: break-word;
  color: rgb(5, 5, 5);
}

.blue-dot {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: rgb(24, 118, 242);
  margin-left: auto;
  margin-right: 16px;
}

#prof-header {
  margin-right: 10px;
}

/* Also uses .prof-icon in index */

#logout-cont {
  /* border: 1px solid black; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  margin-right: 10px;
}

#logout-cont:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.logout-icon {
  height: 26px;
  /* margin-bottom: 2px; */
  margin-left: 4px;
  width: auto;
}

.header-btn-cont {
  margin-left: auto;
}

#btn-cont-auth {
  display: flex;
}

#btn-cont-unauth {
  display: flex;
}

/* .header-btn {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: 500;
} */

.header-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
