@font-face {
  font-family: "SFProDisplay-Bold";
  src: url("./assets/FontsFree-Net-SFProDisplay-Bold.ttf");
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("./assets/FontsFree-Net-SFProDisplay-Regular.ttf");
}

:root {
  /* Newest blue */
  --blue: #1877f2;
  /* Logo */
  --dark-blue: #4267b2;
  /* --medium-blue: #6d84b4;
  --light-blue: #afbdd4;
  --lighter-blue: #d8dfea; */
  --green: #42b72a;
  --light-gray: #f0f2f5;
  --dark-gray: #e4e6eb;
  --red: #ff0000;
  --modal-gray: #fcfcfd;

  --fb-font: url("./assets/facebook-sans-cufonfonts-webfont/FacebookSansBold.woff");
}
/* https://colorswatches.info/facebook-blue */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, SFProDisplay-Regular,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: var(--light-gray);
  min-height: 100%;
  overflow-y: scroll;
}

#root {
  min-height: 100%;
}

html {
  min-height: 100%;
}

.input {
  font-size: 1em;
  --text-opacity: 1;
  box-sizing: border-box;
  border-style: solid;
  border-color: #e2e8f0;
  font-family: inherit;
  /* margin: 0; */
  /* margin-top: 20px; */
  overflow: visible;
  line-height: inherit;
  color: inherit;
  --bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

input.error {
  border-color: var(--red);
}

.input-feedback {
  color: var(--red);
  height: 5px;
  margin-top: -12px;
}

.link {
  text-decoration: none;
  color: white;
}

.link-blue {
  text-decoration: none;
  color: var(--blue);
}

.black-text {
  color: black;
}

.icon {
  height: 18px;
  width: auto;
}

.flex {
  display: flex;
}

.prof-icon {
  background-color: var(--dark-gray);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.prof-icon:hover {
  cursor: pointer;
}

.blue {
  color: var(--blue);
}
