/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

dev.js

.history

.env

keys.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store

npm-debug.log*
yarn-debug.kog*
yarn-error.log*

/history

/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode

 nodemon.json
 
 /uploads/*
  \uploads\*

 /uploads
  /uploads/

 \uploads
  \uploads\

 client\.env
  client/.env

  server\.env
  server/.env

  server/config/keys.js
  server\config\keys.js

 ../uploads