#post-page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#not-authorized {
font-family: "Segoe UI", Helvetica, Arial, sans-serif;
margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 16.0004px;
  text-align: left;
  color: rgb(101, 103, 107);
  text-decoration-line: none;
  text-decoration-style: solid;
  word-break: break-word;
}
