#home {
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: 100%;
  min-width: 500px;
}

#home-blog-cont {
  display: flex;
  flex-direction: column;
  width: 500px;
  /* background-color: white; */
  /* background-color: var(--light-gray); */
  /* background-color: white; */
  min-height: 100vh;
  padding-bottom: 40px;
  align-items: center;
  /* box-shadow: 0 15px 30px 5px #6d6c6c; */
}

#new-post-card {
  /* height: 123px; */
  /* height: 61.5px; */
  height: 70px;
  background-color: white;
  /* border: 1px solid black; */
  width: 500px;
  margin-top: 15px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* display: flex; */
  /* align-items: center; */

  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
}

#new-post-card-top {
  display: flex;
  margin-top: 3px;
  margin-bottom: auto;
}

/* .new-post-card-row {
  height: 50%;
  width: 100%;
  display: flex;
} */

#woym-btn {
  height: 40px;
  /* width: 600px; */
  width: 420px;
  box-sizing: border-box;
  padding: 8px 12px;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: var(--light-gray);
  margin-left: auto;
  margin-right: 0px;
  /* text-align: center; */
  /* line-height: 15px; */

  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: rgb(101, 103, 107);
}

#woym-btn:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

/* #new-post-card-bottom {
  border-top: 1px solid var(--dark-gray);
} */

/* .main-subtitle {
  margin-left: 25px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: -10px;
  color: var(--blue);
  font-size: large;
  font-weight: bold;
} */

/* Cards */

.card {
  background-color: white;
  color: #050505;
  width: 500px;
  /* height: 60px; */
  margin-top: 16px;
  /* margin: 20px 10px 0px 10px; */
  box-sizing: border-box;
  /* padding: 5px 10px; */
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.card-title {
  margin-left: 6px;
}

.card-username {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #050505;
}

.card-date {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.card-row-one {
  height: 48px;
  display: flex;
}

.del-post-x {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  /* margin-right: 10px; */

  color: #aaa;
  float: right;
  /* margin-left: 100%; */
  margin-left: auto;
  margin-right: -4px;
  /* margin-top: -17px; */
  font-size: 32px;
  /* height: 10px; */
  font-weight: bold;
  /* border: 1px solid red; */
  text-align: center;
  padding-bottom: 7px;
  box-sizing: border-box;
}

.del-post-x:hover,
.del-post-x:focus {
  /* color: black; */
  background-color: var(--dark-gray);
  text-decoration: none;
  cursor: pointer;
}

.del-post-modal {
  /* border: 1px solid black; */
  background-color: white;
  color: rgb(5, 5, 5);
  height: 60px;
  width: 170px;
  /* float: right; */
  /* z-index: 1; */
  position: absolute;
  /* position: fixed; */
  /* position: relative; */
  /* display: block; */
  /* display: inline-block; */
  margin-top: 15px;
  margin-left: 287px;
  /* transform: translate(886px, 812px) translate(-100%, 0px); */
  /* margin-right: 0px; */
  /* margin-left: 100%; */
  /* margin-right: -999px; */
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.9995px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
}

.del-post-modal-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  font-size: 18px;
}

.del-post-modal-btn-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.del-post-modal-confirm {
}

.del-post-modal-cancel {
}

.del-post-modal-btn {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--dark-gray);
  width: 70px;
  text-align: center;
  border-radius: 3px;
  height: 20px;
}

.del-post-modal-btn:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.card-row-two {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.0008px;
  /* overflow-y: ; */
  overflow-wrap: break-word;
}

.card-image {
  width: 100%;
  margin-top: 20px;
}

.card-row-three {
  display: flex;
  height: 22px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.like-count {
  margin-left: 0px;
  margin-right: auto;
}

.comment-count {
  margin-left: auto;
  margin-right: 0px;
}

.comment-count:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card-row-four {
  height: 44px;
  width: 100%;
  border-top: 1px solid var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
  display: flex;
}

.like-box {
  color: var(--text-gray);
  width: 50%;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 550;
  line-height: 20px;
  border-radius: 3px;
}

.like-box:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.thumb {
  height: 17px;
  width: 17px;
  margin-right: 7px;
}

.comment-box {
  color: var(--text-gray);
  width: 50%;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 550;
  line-height: 20px;
  border-radius: 3px;
}

.comment-box:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

/* Comments */

.card-row-five {
  margin-left: 0px;
  width: 100%;
}

.comment-section {
  color: black;
  margin-top: 8px;
  /* margin-bottom: 65px; */
  margin-left: 0px;
  width: 100%;
}

.comment-card-box {
  /* margin-left: 5px; */
}

.comment {
  margin-bottom: 9px;
  width: 100%;
}

.comment-row-one {
  display: flex;
  min-height: 50px;
  /* padding: 0px; */
  /* border: 1px solid red; */
}

.prof-icon-small {
  background-color: var(--dark-gray);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 6px;
  margin-left: 0px;
}

.comment-cont-inner {
  display: flex;
  /* border: 1px solid red; */
}

.prof-icon-small:hover {
  cursor: pointer;
}

.comment-bubble {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 50px;
  max-width: 400px;

  background-color: var(--light-gray);
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 18px;

  /* border: 1px solid black; */
}

.comment-username {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: rgb(5, 5, 5);
}

.comment-text {
  margin-bottom: 3px;
  overflow: wrap;

  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
  white-space: normal;
  word-break: break-word;
}

.comment-like-count {
  /* position: fixed; */
  /* right: 0;
  bottom: 0; */
  margin-left: auto;
  margin-right: -42px;
  margin-top: auto;
  margin-bottom: 5px;

font-family: "Segoe UI", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 16.0004px;
display: flex;
align-items: center;

  

    /* position: float; */
  /* float: right; */
  color: rgb(101, 103, 107);
  /* z-index: 2; */
  /* margin-right: 0px; */
  /* height: 30px;
  width: 30px; */
  height: 0;
  /* border-radius: 50%; */
  background-color: white;

  /* border: 1px solid black; */
}

.comment-like-count-text {
  /* border: 1px solid green; */
  margin-right: -2px;
  margin-left: 2px;
}

.thumb-comment {
  height: 17px;
  width: 17px;
  /* margin-right: 7px; */
}

.comment-author {
  font-size: 0.8em;
}

.comment-link {
  text-decoration: none;
  /* color: black; */
}

.space {
  margin-left: 4px;
  margin-right: 4px;
}

.space-small {
  margin-left: 2px;
  margin-right: 3px;
}

/* .del-comment-cont{
  height: 100%;
  margin: 0px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  vertical-align: middle;
} */

.del-comment-x {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  /* margin-right: 10px; */

  color: #aaa;
  float: right;
  /* margin-left: 100%; */
  /* margin-left: auto; */
  /* margin-right: -px; */
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 5px;
  font-size: 20px;
  /* height: 10px; */
  font-weight: bold;
  /* border: 1px solid red; */
  text-align: center;
  padding-bottom: 4px;
  padding-left: 0px;
  box-sizing: border-box;
}

.del-comment-x:hover,
.del-comment-x:focus {
  /* color: black; */
  background-color: var(--dark-gray);
  text-decoration: none;
  cursor: pointer;
}

.del-comment-modal {
  /* border: 1px solid black; */
  background-color: white;
  color: rgb(5, 5, 5);
  height: 60px;
  width: 200px;

  position: absolute;

  /* margin-top: 22px;
  margin-left: 215px; */

  margin-top: 60px;
  margin-left: 200px;



  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.9995px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
}

.del-comment-modal-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  font-size: 18px;
}


.del-comment-modal-btn-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.del-comment-modal-confirm {
}

.del-comment-modal-cancel {
}

.del-comment-modal-btn {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--dark-gray);
  width: 70px;
  text-align: center;
  border-radius: 3px;
  height: 20px;
}

.del-comment-modal-btn:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}




.comment-row-two {
  display: flex;
  margin-left: 52px;
  margin-top: 3px;
}

.comment-like {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: rgb(101, 103, 107);
}

.comment-like-blue {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: var(--blue);
}

.comment-time {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: rgb(101, 103, 107);
  margin-left: 4px;
}

/* .comment-delete {
}

.comment-delete:hover {
  cursor: pointer;
  color: red;
} */

/* not used? */
/* .comment-header {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}
/* .no-comments {
  color: black;
  margin-left: 5px;
} */
*/ 
.leave-comment-section {

}

.leave-comment-cont {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  height: 60px; */
}

.leave-comment-cont-inner {
  display: flex;
  align-items: center;
  /* height: 60px; */
  /* border: 1px solid red; */
}

.leave-comment-bubble {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  min-height: 36px;
  width: 430px;
  /* width: 429px; */
  /* width: 100%; */
  

  background-color: var(--light-gray);
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 18px;
}

.comment-input {
  background-color: transparent;

  border: none;
  /* font-size: 0.9em; */
  --text-opacity: 1;
  box-sizing: border-box;
  font-family: inherit;
  overflow: visible;
  /* line-height: inherit; */
  color: inherit;
  /* padding: 8px 12px; */
  min-height: 20px;
  /* height: 100%; */
  max-width: 400px;
  /* width: 100%; */
  overflow-x: hidden;
  overflow-y: hidden;

  display: block;
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1;

  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  padding-left: 0px;
  /* text-overflow: ellipsis; */
  /* text-overflow: wrap; */
  /* overflow:  */
  /* white-space: nowrap; */
  /* color: rgb(101, 103, 107); */
  color: rgb(28, 30, 33);
  cursor: text;
  overflow-wrap: break-word;
  word-break: break-all;

  resize: none;
  /* text-align: center; */
  /* vertical-align: middle; */
  wrap:"soft";
}

.comment-input:focus {
  outline: none;
}

.comment-input::placeholder {
  color: rgb(101, 103, 107);
}

.submit-comment-btn {
  height: 20px;
  width: 60px;
  /* border: 1px solid #00b0f0; */
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0px;
  line-height: 0;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
}

.submit-comment-btn:hover {
  background-color: var(--dark-gray);
  /* color: whitesmoke; */
  cursor: pointer;
}

.error-message-comment {
  color: var(--red);
  /* margin-top: -8px; */
  margin-bottom: -8px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.no-posts {
  background-color: white;
  color: rgb(101, 103, 107);
  box-sizing: border-box;
  /* margin-top: 20px; */
  margin: 20px 10px 0px 10px;
  /* font-size: 1.2em; */
  padding: 24px;
  height: 166px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.no-posts-header {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  word-break: break-word;
  height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.no-posts-subheader {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.0005px;
  text-align: center;
  word-break: break-word;
  height: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.no-posts-btn {
  padding: 0px 12px;
  height: 36px;
  width: 106.6px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 0px; */
  margin-top: 24px;
  background-color: var(--blue);
  color: white;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  text-align: start;
  /* text-decoration-thickness: auto; */
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.no-posts-btn:hover {
  cursor: pointer;
  background-color: rgb(24, 119, 242);
  background-color: #1b74e4;
}
