#home {
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: 100%;
  min-width: 800px;
}

#home-blog-cont {
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: white;
  min-height: 100vh;
  padding-bottom: 40px;
  align-items: center;
  box-shadow: 0 15px 30px 5px #6d6c6c;
}

.main-subtitle {
  margin-left: 25px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: -10px;
  color: #00b0f0;
  font-size: large;
  font-weight: bold;
}

.card {
  color: whitesmoke;
  background-color: #00b0f0;
  width: 750px;
  height: 60px;
  margin: 20px 10px 0px 10px;
  box-sizing: border-box;
  padding: 5px 10px;
}

.card-title {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}


.no-blogs {
  margin-top: 20px;
  font-size: 1.2em;
}
