#home-cont {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

#home {
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: 100%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1260px) {
  #home-current-user-cont,
  #home-friend-cont {
    display: none;
  }
}

#home-current-user-cont {
  width: 360px;
  min-height: 200%;
  box-sizing: border-box;
  padding: 16px 8px;
}

.home-user-card {
  width: 100%;
  height: 44px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid red;
  display: flex;
  align-items: center;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  margin-bottom: 8px;
}

.home-user-card:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.prof-pic-home-user-page {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.prof-pic-home-user-page:hover {
  cursor: pointer;
}

.home-user-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

.home-user-card-username {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20.0005px;
  text-align: start;
  word-break: break-word;
  color: rgb(5, 5, 5);
}

.home-user-card-username:hover {
  cursor: pointer;
  text-decoration: underline;
}

.home-user-card-location {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.0004px;
  text-align: start;
  word-break: break-word;
  color: rgb(101, 103, 107);
}

#home-friend-cont {
  width: 360px;
  padding: 16px 8px;
  min-height: 200%;
  box-sizing: border-box;
}

#home-current-user-friend-list-side {
  width: 360px;
  min-width: 360px;
  margin-left: 0;
  margin-right: auto;
  box-sizing: border-box;
  z-index: 1;
}

#current-user-fl-side-header {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.0008px;
  text-align: left;
  word-break: break-word;
  margin-top: 20px;
  margin-bottom: 12px;
}

.current-user-fl-side-cont {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.0005px;
  word-break: break-word;
}

#current-user-fl-side-subheader-pending {
  margin-top: 6px;
  padding-top: 6px;
  border-top: 1px solid var(--dark-gray);
}

.no-new-requests {
  color: rgb(101, 103, 107);
  margin-left: auto;
  margin-right: auto;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.0004px;
  text-align: center;
  word-break: break-word;
  margin-top: 15px;
  margin-bottom: 20px;
}

.no-friends-to-show {
  color: rgb(101, 103, 107);
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 16.0004px;
  text-align: center;
  word-break: break-word;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.home-friend-request-card {
  width: 344px;
  height: 84px;
  padding: 12px 8px;
  box-sizing: border-box;
  display: flex;
  border-radius: 8px;
  margin-top: 8px;
}

.home-friend-request-card:hover {
  background-color: var(--dark-gray);
}

.prof-pic-friendList-request-page {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.prof-pic-friendList-request-page:hover {
  cursor: pointer;
}

.friend-request-card-info {
  width: 256px;
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-top: 0;
  padding-top: 0;
}

.friend-request-card-username {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.0005px;
  text-align: start;
  word-break: break-word;
  color: #050505;
  margin-top: 0;
  margin-bottom: auto;
}

.friend-request-card-username:hover {
  cursor: pointer;
  text-decoration: underline;
}

.friend-request-card-location {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.0004px;
  text-align: start;
  word-break: break-word;
  color: rgb(101, 103, 107);
}

.friend-request-card-btn-cont {
  display: flex;
}

.friend-request-card-btn-confirm {
  display: flex;
  height: 30px;
  width: 120px;
  justify-content: center;
  background-color: var(--blue);
  color: white;
  box-sizing: border-box;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  margin-right: auto;
}

.friend-request-card-btn-confirm:hover {
  cursor: pointer;
  background-color: #1b74e4;
}

.friend-request-card-btn-decline {
  display: flex;
  height: 30px;
  width: 120px;
  justify-content: center;
  background-color: var(--dark-gray);
  box-sizing: border-box;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  color: rgb(5, 5, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: auto;
}

.friend-request-card-btn-decline:hover {
  cursor: pointer;
  background-color: #c2c6ca;
}

.friend-request-card-btn-pending {
  display: flex;
  height: 30px;
  width: 140px;
  justify-content: center;
  background-color: gray;
  color: white;
  box-sizing: border-box;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  margin-right: auto;
}

.friend-request-card-btn-pending:hover {
  cursor: default;
}

.friend-request-card-btn-cancel {
  display: flex;
  height: 30px;
  width: 100px;
  justify-content: center;
  background-color: var(--dark-gray);
  box-sizing: border-box;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  color: rgb(5, 5, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: auto;
}

.friend-request-card-btn-cancel:hover {
  cursor: pointer;
  background-color: #c2c6ca;
}

.top-border-gray {
  margin-top: 6px;
  border-top: 1px solid var(--dark-gray);
}

#home-blog-cont {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 100vh;
  padding-bottom: 40px;
  align-items: center;
}

#new-post-card {
  height: 70px;
  background-color: white;
  width: 500px;
  margin-top: 15px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
}

#new-post-card-top {
  display: flex;
  margin-top: 3px;
  margin-bottom: auto;
}

/* .new-post-card-row {
  height: 50%;
  width: 100%;
  display: flex;
} */

#woym-btn {
  height: 40px;
  width: 420px;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: var(--light-gray);
  margin-left: auto;
  margin-right: 0px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: rgb(101, 103, 107);
}

#woym-btn:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

/* #new-post-card-bottom {
  border-top: 1px solid var(--dark-gray);
} */

/* .main-subtitle {
  margin-left: 25px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: -10px;
  color: var(--blue);
  font-size: large;
  font-weight: bold;
} */

/* Cards */

.card {
  background-color: white;
  color: #050505;
  width: 500px;
  margin-top: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.card-title {
  margin-left: 6px;
}

.card-username {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #050505;
}

.card-date {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.card-row-one {
  height: 48px;
  display: flex;
}

.del-post-x {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  color: #aaa;
  float: right;
  margin-left: auto;
  margin-right: -4px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 7px;
  box-sizing: border-box;
}

.del-post-x:hover,
.del-post-x:focus {
  background-color: var(--dark-gray);
  text-decoration: none;
  cursor: pointer;
}

.del-post-modal {
  background-color: white;
  color: rgb(5, 5, 5);
  height: 60px;
  width: 170px;
  position: absolute;
  margin-top: 15px;
  margin-left: 287px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.9995px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.del-post-modal-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  font-size: 18px;
}

.del-post-modal-btn-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.del-post-modal-confirm {
}

.del-post-modal-cancel {
}

.del-post-modal-btn {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--dark-gray);
  width: 70px;
  text-align: center;
  border-radius: 3px;
  height: 20px;
}

.del-post-modal-btn:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.card-row-two {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.0008px;
  overflow-wrap: break-word;

  white-space: pre-line;
}

.card-image {
  width: 100%;
  margin-top: 20px;
}

.card-row-three {
  display: flex;
  height: 22px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.like-count {
  margin-left: 0px;
  margin-right: auto;
}

.comment-count {
  margin-left: auto;
  margin-right: 0px;
}

.comment-count:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card-row-four {
  height: 44px;
  width: 100%;
  border-top: 1px solid var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
  display: flex;
}

.like-box {
  color: var(--text-gray);
  width: 50%;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 550;
  line-height: 20px;
  border-radius: 3px;
}

.like-box:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.thumb {
  height: 17px;
  width: 17px;
  margin-right: 7px;
}

.comment-box {
  color: var(--text-gray);
  width: 50%;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 550;
  line-height: 20px;
  border-radius: 3px;
}

.comment-box:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

/* Comments */

.card-row-five {
  margin-left: 0px;
  width: 100%;
}

.comment-section {
  color: black;
  margin-top: 8px;
  margin-left: 0px;
  width: 100%;
}

.comment-card-box {
}

.comment {
  margin-bottom: 9px;
  width: 100%;
}

.comment-row-one {
  display: flex;
  min-height: 50px;
}

.prof-icon-small {
  background-color: var(--dark-gray);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 6px;
  margin-left: 0px;
}

.comment-cont-inner {
  display: flex;
}

.prof-icon-small:hover {
  cursor: pointer;
}

.comment-bubble {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  max-width: 400px;
  background-color: var(--light-gray);
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 18px;
}

.comment-username {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: rgb(5, 5, 5);
}

.comment-text {
  margin-bottom: 3px;
  overflow: wrap;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
  white-space: normal;
  word-break: break-word;
}

.comment-like-count {
  margin-left: auto;
  margin-right: -42px;
  margin-top: auto;
  margin-bottom: 5px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.0004px;
  display: flex;
  align-items: center;
  color: rgb(101, 103, 107);
  height: 0;
  background-color: white;
}

.comment-like-count-text {
  margin-right: -2px;
  margin-left: 2px;
}

.thumb-comment {
  height: 17px;
  width: 17px;
}

.comment-author {
  font-size: 0.8em;
}

.comment-link {
  text-decoration: none;
}

.space {
  margin-left: 4px;
  margin-right: 4px;
}

.space-small {
  margin-left: 2px;
  margin-right: 3px;
}

/* .del-comment-cont{
  height: 100%;
  margin: 0px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  vertical-align: middle;
} */

.del-comment-x {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  color: #aaa;
  float: right;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 4px;
  padding-left: 0px;
  box-sizing: border-box;
}

.del-comment-x:hover,
.del-comment-x:focus {
  background-color: var(--dark-gray);
  text-decoration: none;
  cursor: pointer;
}

.del-comment-modal {
  background-color: white;
  color: rgb(5, 5, 5);
  height: 60px;
  width: 200px;
  position: absolute;
  margin-top: 60px;
  margin-left: 200px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.9995px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.del-comment-modal-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  font-size: 18px;
}

.del-comment-modal-btn-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.del-comment-modal-confirm {
}

.del-comment-modal-cancel {
}

.del-comment-modal-btn {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--dark-gray);
  width: 70px;
  text-align: center;
  border-radius: 3px;
  height: 20px;
}

.del-comment-modal-btn:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.comment-row-two {
  display: flex;
  margin-left: 52px;
  margin-top: 3px;
}

.comment-like {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: rgb(101, 103, 107);
}

.comment-like-blue {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: var(--blue);
}

.comment-time {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: rgb(101, 103, 107);
  margin-left: 4px;
}

/* .comment-delete {
}

.comment-delete:hover {
  cursor: pointer;
  color: red;
} */

/* not used? */
/* .comment-header {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}
/* .no-comments {
  color: black;
  margin-left: 5px;
} */

.leave-comment-section {
}

.leave-comment-cont {
  display: flex;
}

.leave-comment-cont-inner {
  display: flex;
  align-items: center;
}

.leave-comment-bubble {
  display: flex;
  min-height: 36px;
  width: 430px;
  background-color: var(--light-gray);
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 18px;
}

.comment-input {
  background-color: transparent;
  border: none;
  --text-opacity: 1;
  box-sizing: border-box;
  font-family: inherit;
  overflow: visible;
  color: inherit;
  min-height: 20px;
  max-width: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  padding-left: 0px;
  color: rgb(28, 30, 33);
  cursor: text;
  overflow-wrap: break-word;
  word-break: break-all;
  resize: none;
  wrap: "soft";
}

.comment-input:focus {
  outline: none;
}

.comment-input::placeholder {
  color: rgb(101, 103, 107);
}

.submit-comment-btn {
  height: 20px;
  width: 60px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0px;
  line-height: 0;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
}

.submit-comment-btn:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.error-message-comment {
  color: var(--red);
  margin-bottom: -8px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.no-posts {
  background-color: white;
  color: rgb(101, 103, 107);
  box-sizing: border-box;
  margin: 20px 10px 0px 10px;
  padding: 24px;
  height: 166px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.no-posts-header {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  word-break: break-word;
  height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.no-posts-subheader {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.0005px;
  text-align: center;
  word-break: break-word;
  height: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.no-posts-btn {
  padding: 0px 12px;
  height: 36px;
  width: 106.6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  background-color: var(--blue);
  color: white;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.no-posts-btn:hover {
  cursor: pointer;
  background-color: rgb(24, 119, 242);
  background-color: #1b74e4;
}
