#user-page {
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
}

#current-user-page {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  /* border: 1px solid black; */

  box-sizing: border-box;
  height: 100%;
  margin-top: 16px;
  max-width: 100%;
  /* padding-left: 16px;
  padding-right: 16px; */
  width: 908px;
  /* width: 892px; */
}

.test {
  /* border: 1px solid red;
  height: auto; */
}

/* Make width 500px if screen is less than 860 */
#user-info-cont {
  width: 392px;
  box-sizing: border-box;

  padding: 0px 8px;
  /* box-sizing: border-box; */
  /* border: 1px solid red; */
  margin-right: 8px;

  /* position: -webkit-sticky; Safari */
  height: auto;
  /* position: fixed; */
  /* top: 0; */
  /* border: 1px solid blue; */

  flex-basis: 360px;
  display: flex;
  flex-direction: column;

  /* position: fixed; */
  /* top: 50%; */
  /* -webkit-transform: translateY(-50%); */
  /* -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
}

#user-info-footer {
  /* height: auto;
  position: sticky;
  top: 0; */

  /* position: sticky;
  bottom: 0;
  align-self: flex-end; */
  /* border: 1px solid green; */

  /* padding-left: 12px;; */
  margin-top: 8px;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.0004px;
  text-align: left;
  color: rgb(101, 103, 107);
  text-decoration-line: none;
  text-decoration-style: solid;
  word-break: break-word;
}

#user-post-cont {
  /* overflow-y: hidden; */
}

.prof-pic-big {
  border-radius: 50%;
  height: 175px;
  width: 175px;

  margin-top: 12px;

  margin-left: auto;
  margin-right: auto;
  /* margin-left: 50px; */
}

/* .prof-pic-big:hover {
  cursor: pointer;
} */

.prof-icon-big {
  background-color: var(--dark-gray);
  border-radius: 50%;
  height: 175px;
  width: 175px;

  margin-top: 12px;

  margin-left: auto;
  margin-right: auto;
}

/* .prof-icon-big:hover {
  cursor: pointer;
} */

.user-card-username {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 20px;
  color: #050505;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 16px;
}

/* #user-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.edit-user-prof {
  /* height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;

  color: #aaa;
  float: right;
  margin-left: auto;
  margin-right: -4px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 7px;
  box-sizing: border-box; */

  font-weight: 400px;
  margin-right: 0px;
  margin-left: auto;
  /* border: 1px solid red; */
  color: rgb(106, 106, 106);
}

.edit-user-prof:hover,
.edit-user-prof:focus {
  /* background-color: var(--dark-gray);
  text-decoration: none;
  cursor: pointer; */

  text-decoration: underline;
  cursor: pointer;
}

.user-info-header {
  /* font-weight: bold; */

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  text-align: start;
  /* text-decoration-thickness: auto; */
  word-break: break-word;
  margin-bottom: 5px;

  /* border: 1px solid black; */
}

.user-info-text {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.9995px;
  text-align: start;
  /* text-decoration-thickness: auto; */
  word-break: break-word;
}

.user-info-friend-manage-cont {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  /* border: 1px solid black; */
  justify-content: center;
  justify-content: space-between;
}

.user-info-confirm-friend {
  /* border: 1px solid blue; */

  /* margin-left: auto; */
  display: flex;
  height: 22px;
  width: 80px;
  justify-content: center;

  /* padding: 0px 12px; */
  /* height: 36px; */
  /* width: 106.6px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-bottom: 0px; */
  /* margin-top: 24px; */
  background-color: var(--blue);
  color: white;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  /* text-align: start; */
  /* text-decoration-thickness: auto; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  /* word-break: break-word; */
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  border-radius: 6px;
}

.user-info-confirm-friend:hover {
  cursor: default;
}

.user-info-unfriend {
  /* border: 1px solid black; */
  display: flex;
  width: 80px;
  justify-content: center;

  background-color: var(--dark-gray);
  /* background-color: #C2C6CA; */
  background-color: white;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  /* text-align: start; */
  /* text-decoration-thickness: auto; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  /* word-break: break-word; */
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  border-radius: 6px;
  color: rgb(5, 5, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.user-info-unfriend:hover {
  cursor: pointer;
  background-color: #c2c6ca;
}

#user-info-box {
  width: 376px;
  background-color: white;
  color: #050505;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  min-height: 160px;
  margin-top: 32px;
  padding: 13px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#bio-cont {
  /* border: 1px solid black; */
  /* display: flex; */
  margin-bottom: 15px;
}

#location-cont {
  /* display: flex; */
  margin-bottom: 15px;
}

#occupation-cont {
  /* display: flex; */
  /* margin-bottom: 15px; */
}

/* #user-info-box {
  width: 376px;
  background-color: white;
  color: #050505;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  min-height: 160px;
  margin-top: 32px;
  padding: 13px;
  box-sizing: border-box;

    display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

#user-friends-box {
  width: 500px;
  box-sizing: border-box;
  /* padding: 8px 16px; */

  margin-top: 16px;

  /* padding: 0px 8px; */
  background-color: white;
  /* border: 1px solid blue; */

  width: 376px;
  background-color: white;
  color: #050505;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  /* height: 160px; */
  margin-top: 16px;
  padding: 13px;
  padding: 20px 16px;
}

#friend-header {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  word-break: break-word;
  color: rgb(5, 5, 5);
}

.see-all-friends {
  /* height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;

  color: #aaa;
  float: right;
  margin-left: auto;
  margin-right: -4px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 7px;
  box-sizing: border-box; */

  font-weight: 400px;
  font-size: 17px;
  margin-right: 0px;
  margin-left: auto;
  /* border: 1px solid red; */
  color: #1876f2;
}

.see-all-friends:hover,
.see-all-friends:focus {
  /* background-color: var(--dark-gray);
  text-decoration: none;
  cursor: pointer; */

  text-decoration: underline;
  cursor: pointer;
}

#friend-text {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.0005px;
  text-align: left;
  word-break: break-word;
  margin-top: 8px;
}

#friend-icon-cont {
  /* border: 1px solid blue; */
  width: 452px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 16px;
}

.friend-icon-box {
  height: 140px;
  width: 102px;
  /* border: 1px solid black; */
}

.prof-pic-friendList {
  border-radius: 8px;
  height: 102px;
  width: 102px;
}

.prof-pic-friendList:hover {
  cursor: pointer;
}

.prof-icon-friendList {
  background-color: var(--dark-gray);
  border-radius: 8px;
  height: 102px;
  width: 102px;
}

.prof-icon-friendList:hover {
  cursor: pointer;
}

.no-posts-profile {
  background-color: white;
  color: rgb(101, 103, 107);
  box-sizing: border-box;
  /* margin-top: 20px; */
  margin: 20px 0px 20px 0px;
  /* font-size: 1.2em; */
  padding: 24px;
  /* height: 80px; */
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.no-posts-header-profile {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  word-break: break-word;
  height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* Unfriend Modal */

.unfriend-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 0, 0); */
  /* background-color: rgba(0, 0, 0, 0.4); */
  background-color: rgba(235, 235, 235, 0.8);
}

.unfriend-modal-content {
  position: relative;
  top: 43%;
  transform: translateY(-47%);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  /* min-height: 428px; */
  height: 162px;
  width: 548px;
  padding: 0px 16px;

  color: black;

  /* padding: 1rem; */
  border-radius: 6px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

#unfriend-header {
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  /* height: 132pxpx; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  /* width: 200px; */
  padding: 10px 16px;
  /* margin */
}

#unfriend-header-top {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

#unfriend-header-title {
  color: #1c1e21;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  /* margin-bottom: 0; */
  margin-left: -17px;
  margin-right: auto;
}

.close-unfriend {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  /* margin-right: 10px; */

  color: #aaa;
  float: right;
  /* margin-left: 100%; */
  margin-left: auto;
  margin-right: -12px;
  /* margin-top: -17px; */
  font-size: 32px;
  /* height: 10px; */
  font-weight: bold;
  /* border: 1px solid red; */
  text-align: center;
  padding-bottom: 7px;
  box-sizing: border-box;
}

.close-unfriend:hover,
.close-unfriend:focus {
  /* color: black; */
  background-color: var(--dark-gray);
  text-decoration: none;
  cursor: pointer;
}

#unfriend-mid-row {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5px;
  /* height: 100%; */
  border-top: 1px solid rgb(204, 208, 213);
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
}

.unfriend-mid-row-text {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.9995px;
  word-break: break-word;
  color: rgb(5, 5, 5);
}

#unfriend-bottom-row {
  height: auto;
  /* border: 1px solid red; */
  /* margin-bottom: -5px; */
  /* height: 100px; */
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0px;
}

.unfriend-btn {
  height: 36px;
  width: 79px;
  box-sizing: border-box;
  padding: 0px 12px;
}

.cancel-unfriend {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 36px;
  line-height: 16.08px;
  border-radius: 6px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: var(--blue);
  background-color: white;
  margin-right: 8px;
  margin-left: auto;
}

.cancel-unfriend:hover {
  cursor: pointer;
  /* background-color: rgb(81, 101, 255); */
  background-color: var(--light-gray);
}

.submit-unfriend {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: auto; */
  /* margin-bottom: 0px; */
  /* color: white; */
  /* width: 194px; */
  /* width: 100%; */
  /* background-color: rgb(0, 164, 0); */
  /* font-family: Helvetica, Arial, sans-serif; */
  font-size: 15px;
  height: 36px;
  line-height: 16.08px;
  border-radius: 6px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  /* font-size: 18px; */
  /* font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal; */
  font-weight: 600;
  background-color: var(--blue);
  color: white;
}

.submit-unfriend:hover {
  cursor: pointer;
  /* background-color: rgb(81, 101, 255); */
  background-color: #1b74e4;
}
