#user-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#current-user-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 100%;
  margin-top: 16px;
  max-width: 100%;
  min-width: 454px;
  max-width: 908px;
}

#user-info-cont {
  width: 392px;
  box-sizing: border-box;
  padding: 0px 8px;
  margin-right: 8px;
  height: auto;
  flex-basis: 360px;
  display: flex;
  flex-direction: column;
}

#user-info-footer {
  margin-top: 8px;
  display: flex;
}

#user-info-footer-text {
  margin-left: 4px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.0004px;
  text-align: left;
  color: rgb(101, 103, 107);
  text-decoration-line: none;
  text-decoration-style: solid;
  word-break: break-word;
}

#delete-account-btn {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  margin-right: 4px;
  margin-left: auto;
  height: 30px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.0004px;
  text-align: left;
  color: rgb(101, 103, 107);
  text-decoration-line: none;
  text-decoration-style: solid;
  word-break: break-word;
  border: 1px solid rgb(176, 177, 179);
}

#delete-account-btn:hover {
  cursor: pointer;
  color: var(--red);
}

#user-post-cont {
}

.prof-pic-big {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;

  object-fit: cover;
}

.prof-icon-big {
  background-color: var(--dark-gray);
  border-radius: 50%;
  height: 175px;
  width: 175px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;

  object-fit: cover;
}

.user-card-username {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 20px;
  color: #050505;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 16px;
}

.edit-user-prof {
  font-weight: 400px;
  margin-right: 0px;
  margin-left: auto;
  color: rgb(106, 106, 106);
}

.edit-user-prof:hover,
.edit-user-prof:focus {
  text-decoration: underline;
  cursor: pointer;
}

.user-info-header {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  text-align: start;
  word-break: break-word;
  margin-bottom: 5px;
}

.user-info-text {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.9995px;
  text-align: start;
  word-break: break-word;
}

.user-info-friend-manage-cont {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  justify-content: center;
  justify-content: space-between;
}

.user-info-confirm-friend {
  display: flex;
  height: 22px;
  width: 80px;
  justify-content: center;
  background-color: var(--blue);
  color: white;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
}

.user-info-confirm-friend:hover {
  cursor: default;
}

.user-info-unfriend {
  display: flex;
  width: 80px;
  justify-content: center;
  background-color: var(--dark-gray);
  background-color: white;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  color: rgb(5, 5, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.user-info-unfriend:hover {
  cursor: pointer;
  background-color: #c2c6ca;
}

#user-info-box {
  width: 376px;
  background-color: white;
  color: #050505;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  min-height: 160px;
  margin-top: 32px;
  padding: 13px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#bio-cont {
  margin-bottom: 15px;
}

#location-cont {
  margin-bottom: 15px;
}

#occupation-cont {
}

#user-friends-box {
  width: 500px;
  box-sizing: border-box;
  margin-top: 16px;
  background-color: white;
  width: 376px;
  background-color: white;
  color: #050505;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-top: 16px;
  padding: 13px;
  padding: 20px 16px;
}

#friend-header {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  word-break: break-word;
  color: rgb(5, 5, 5);
}

.see-all-friends {
  font-weight: 400px;
  font-size: 17px;
  margin-right: 0px;
  margin-left: auto;
  color: #1876f2;
}

.see-all-friends:hover,
.see-all-friends:focus {
  text-decoration: underline;
  cursor: pointer;
}

#friend-text {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.0005px;
  text-align: left;
  word-break: break-word;
  margin-top: 8px;
}

#friend-icon-cont {
  width: 370px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-left: -8px;
  display: flex;
  flex-wrap: wrap;
}

.friend-icon-box {
  height: 140px;
  width: 102px;
  margin-left: 8px;
  margin-right: 8px;
}

.friend-icon-name {
  color: rgb(5, 5, 5);
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16.0004px;
  text-align: start;
  word-break: break-word;
}

.prof-pic-friendList {
  border-radius: 8px;
  height: 102px;
  width: 102px;

  object-fit: cover;
}

.prof-pic-friendList:hover {
  cursor: pointer;
}

.prof-icon-friendList {
  background-color: var(--dark-gray);
  border-radius: 8px;
  height: 102px;
  width: 102px;

  object-fit: cover;
}

.prof-icon-friendList:hover {
  cursor: pointer;
}

.no-posts-profile {
  background-color: white;
  color: rgb(101, 103, 107);
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
  padding: 24px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.no-posts-header-profile {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  word-break: break-word;
  height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* Unfriend Modal */

.unfriend-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(235, 235, 235, 0.8);
}

.unfriend-modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-47%);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 162px;
  width: 548px;
  padding: 0px 16px;
  color: black;
  border-radius: 6px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

#unfriend-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 16px;
}

#unfriend-header-top {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#unfriend-header-title {
  color: #1c1e21;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-left: -17px;
  margin-right: auto;
}

.close-unfriend {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  color: #aaa;
  float: right;
  margin-left: auto;
  margin-right: -12px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 7px;
  box-sizing: border-box;
}

.close-unfriend:hover,
.close-unfriend:focus {
  background-color: var(--dark-gray);
  text-decoration: none;
  cursor: pointer;
}

#unfriend-mid-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5px;
  border-top: 1px solid rgb(204, 208, 213);
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
}

.unfriend-mid-row-text {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.9995px;
  word-break: break-word;
  color: rgb(5, 5, 5);
}

#unfriend-bottom-row {
  height: auto;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0px;
}

.unfriend-btn {
  height: 36px;
  width: 79px;
  box-sizing: border-box;
  padding: 0px 12px;
}

.cancel-unfriend {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 36px;
  line-height: 16.08px;
  border-radius: 6px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: var(--blue);
  background-color: white;
  margin-right: 8px;
  margin-left: auto;
}

.cancel-unfriend:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}

.submit-unfriend {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 36px;
  line-height: 16.08px;
  border-radius: 6px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
  background-color: var(--blue);
  color: white;
}

.submit-unfriend:hover {
  cursor: pointer;
  background-color: #1b74e4;
}

/* Non Friend Page */

.user-info-pending-cont {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  justify-content: center;
  justify-content: space-between;
}

.user-info-confirm-pending {
  display: flex;
  height: 22px;
  width: 130px;
  justify-content: center;
  background-color: var(--blue);
  color: white;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
}

.user-info-confirm-pending:hover {
  cursor: pointer;
  background-color: #1b74e4;
}

.user-info-delete-pending {
  display: flex;
  width: 130px;
  justify-content: center;
  background-color: var(--dark-gray);
  background-color: white;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  color: rgb(5, 5, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.user-info-delete-pending:hover {
  cursor: pointer;
  background-color: #c2c6ca;
}

.user-info-sent-req-cont {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  justify-content: center;
  justify-content: space-between;
}

.user-info-sent-req-pending {
  display: flex;
  height: 22px;
  width: 180px;
  justify-content: center;
  background-color: gray;
  color: white;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
}

.user-info-sent-req-pending:hover {
  cursor: default;
}

.user-info-sent-req {
  display: flex;
  width: 120px;
  justify-content: center;
  background-color: var(--dark-gray);
  background-color: white;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  color: rgb(5, 5, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.user-info-sent-req:hover {
  cursor: pointer;
  background-color: #c2c6ca;
}

.user-info-add-friend-manage-cont {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  justify-content: center;
  justify-content: space-between;
}

.user-info-add-friend {
  display: flex;
  width: 110px;
  justify-content: center;
  background-color: var(--dark-gray);
  background-color: white;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  color: rgb(5, 5, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: 3px;
}

.user-info-add-friend:hover {
  cursor: pointer;
  background-color: #c2c6ca;
}
