.find-friends-btn-cont {
display: flex;
align-items: center;


/* width: 100%; */
margin-left: auto;
margin-right: 0px;

/* border: 1px solid red; */
}

/* Recieved Request */

.find-friend-request-card-btn-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid green; */
  height: 70px;
  width: 140px;
}

.find-friend-request-card-btn-confirm {
  display: flex;
  height: 30px;
  width: 140px;
  justify-content: center;
  background-color: var(--blue);
  color: white;

  box-sizing: border-box;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
}

.find-friend-request-card-btn-confirm:hover {
  cursor: pointer;
  background-color: #1b74e4;
}

.find-friend-request-card-btn-decline {
  display: flex;
  height: 30px;
  width: 140px;
  justify-content: center;
  background-color: var(--dark-gray);
  /* background-color: white; */

  box-sizing: border-box;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  color: rgb(5, 5, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

.find-friend-request-card-btn-decline:hover {
  cursor: pointer;
  background-color: #c2c6ca;
}

/* Pending Requests */

.find-friend-request-card-btn-pending {
  display: flex;
  height: 30px;
  width: 140px;
  justify-content: center;
  background-color: gray;
  color: white;

  box-sizing: border-box;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  margin-right: auto;
}

.find-friend-request-card-btn-pending:hover {
  cursor: default;
}

.find-friend-request-card-btn-cancel {
  display: flex;
  height: 30px;
  width: 140px;
  justify-content: center;
  background-color: var(--dark-gray);
  /* background-color: white; */

  box-sizing: border-box;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
  color: rgb(5, 5, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

.find-friend-request-card-btn-cancel:hover {
  cursor: pointer;
  background-color: #c2c6ca;
}

.find-user-info-add-friend-manage-cont {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  /* border: 1px solid black; */
  justify-content: center;
  justify-content: space-between;
}

.find-user-info-add-friend {
  /* border: 1px solid black; */
  display: flex;
  width: 110px;
  height: 30px;
  justify-content: center;

  background-color: var(--dark-gray);
  /* background-color: #C2C6CA; */
  background-color: white;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  /* text-align: start; */
  /* text-decoration-thickness: auto; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  /* word-break: break-word; */
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  border-radius: 6px;
  color: rgb(5, 5, 5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* margin-left: 3px; */

margin-left: auto;
margin-right: auto;

    background-color: var(--blue);
  color: white;

  box-sizing: border-box;

  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.9995px;
  align-items: center;
  border-radius: 6px;
}

.find-user-info-add-friend:hover {
  cursor: pointer;
  background-color: #1b74e4;
}

.no-others-to-show {
  color: rgb(101, 103, 107);
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 16.0004px;
  text-align: center;
  word-break: break-word;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}







