/* edit-user Modal */
.edit-user-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(235, 235, 235, 0.8);
}

.edit-user-modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-47%);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 450px;
  width: 500px;
  padding: 0px 16px;
  color: black;
  border-radius: 6px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

#edit-user-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 16px;
}

#edit-user-header-top {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#edit-user-header-title {
  color: #1c1e21;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 180px;
  margin-right: auto;
}

/* #edit-user-header-subtitle {
  color: #606770;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
} */

.close-edit-user {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  color: #aaa;
  float: right;
  margin-left: auto;
  margin-right: -12px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 7px;
  box-sizing: border-box;
}

.close-edit-user:hover,
.close-edit-user:focus {
  background-color: var(--dark-gray);
  text-decoration: none;
  cursor: pointer;
}

#edit-user-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

#edit-user-mid-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 5px;
}

.edit-user-username {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 10px;
  margin-left: 6px;
}

.input-edit-user {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 11px;
  width: auto;
  display: inline-block;
  text-align: start;
  padding-top: -100px;
  min-height: 153.5px;
  line-height: 28px;
  font-weight: 400;
  resize: none;
  border: white;
}

.input-edit-user:focus {
  outline: none !important;
}

#edit-user-img-row {
  height: 58.5px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#add-img-edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  border: 1px solid rgb(204, 208, 213);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-weight: 550;
  line-height: 20px;
  font-family: "Segoe UI", Helvetica, Arial;
}

#add-img-edit-btn:hover {
  cursor: pointer;
}

#edit-user-bottom-row {
  height: auto;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-edit-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 15px;
  height: 36px;
  line-height: 16.08px;
  border-radius: 6px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

#submit-edit-user-empty {
  background-color: #e4e6eb;
  color: #bcc0c4;
  cursor: not-allowed;
}

#submit-edit-user-full {
  background-color: var(--blue);
  color: white;
}

#submit-edit-user-full:hover {
  cursor: pointer;
  background-color: #1b74e4;
}

/* Image Upload */
.edit-user-image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.edit-text {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.0005px;
  text-align: left;
  word-break: break-word;
  color: rgb(67, 67, 67);
  margin-top: 15px;
}

.edit-cont {
}

.edit-bio-cont {
  margin-top: -20px;
}

.edit-input {
  height: 33px;
  width: 100%;
  border: 1px solid rgb(198, 198, 198);
  background-color: rgb(245, 245, 245);
  color: rgb(67, 67, 67);
  font-size: 16px;
  font-weight: 400px;
  line-height: 20.8px;
  font-stretch: 100%;
  padding: 6.4px;
  box-sizing: border-box;
  margin-top: 10px;
}

.edit-input:focus {
  outline: none !important;
}
